.ModalBlock {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    top: 0;
  }
  
  .ModalWindow {
    border-radius: 10px;
    max-width: 550px;
    width: 100%;
    font-weight: bold;
  }
  
  .ModalHeader {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
 
  .ModalBody {
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
  }
  
  .ModalText {
    text-align: center;
    font-size: 20px;
  }
  
  .ModalActions {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  
  .ActionButton {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border-radius: 10px;
    cursor: pointer;
  }

  .CloseModal {
    cursor: pointer;
  }