.buttonGeneral {
    position: relative;
    left: 25%;
    font-size: 30px;
    padding: 30px;
    border: none;
    color: rgb(15, 5, 5);
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
  }

.BlockRoot{
    padding-top: 100px;
}
  